/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: #242333;
}
.siteName {
  font-size: 2.5em;
  font-weight: bold;
}
#tools {
  justify-content: end;
  text-transform: uppercase;
  font-size: 0.8em;
}
nav {
  background-color: #242333;
}
nav ul {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin: 1em .5em;
  padding: 1em .5em;
  list-style-type: none;
}
nav ul a {
  color: #fafbfb;
  text-decoration: none;
}

/* Index Styles */
.hero-banner h1 {
  font-size: 1.5em;
  color: #242333;
}
.image-wrapper {
  position: relative;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
#overlay {
  position: absolute;
  top: 0; left: 2.5%;
  max-width: 35%;
  color: #01aed1;
  background-color: rgba(254, 254, 254, 0.5);
}
#overlay h2 {
  font-size: 1em;
  margin: 0;
}
#overlay p {
  margin: 0;
}
#overlay img {
  max-width: 75%;
  padding-left: .25em;
}

/* Delorean Upgrades */
.content h2 {
  font-size: 1.5em;
  color: #242333;
}
.upgrades-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
  margin: 0 auto;
}
.upgrade-item {
  text-align: center;
}
.img-wrapper {
  background-color: #01aed1;
  border: 1px solid #2d4659;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

/* DMC Delorean Reviews */
.reviews ul {
  margin: 0;
  padding: 0;
}
.reviews li {
  margin: .5em 1em;
}

/* Classification Styles */
#inv-display {
  list-style-type: none;
  width: 60%;
  padding-left: 0;
  margin: 0 auto;
}

#inv-display li {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 0;
  background-color: white;
  width: 100%;
}

#inv-display li a {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

#inv-display li img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

#inv-display li .namePrice {
  padding: 12px 16px;
  text-align: center;
}

#inv-display li hr {
  border: none;
  height: 4px;
  background-color: black;
  margin: 12px 0;
}

#inv-display li .namePrice h2 {
  margin: 8px 0 4px;
  font-size: 1.5rem;
}

#inv-display li .namePrice span {
  font-weight: bold;
  font-size: 1.2rem;
  color: #222;
}

/* Detail Styles */
.vehicle-detail-container {
  display: flex;
  flex-direction: column;
}

.vehicle-info h1 {
  font-size: 1.75rem;
}
.vehicle-info p {
  padding: 8px 15px;
}
.vehicle-info :nth-child(2) {
  background-color: rgb(228, 228, 228);
}
.vehicle-info :nth-child(4) {
  background-color: rgb(228, 228, 228);
}

.notice li {
  color: red;
  font-style: italic;
  font-weight: bold;
}

/* Larger Screens */
@media screen and (min-width: 875px) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
  }
  #wrapper {
    background-color: white;
    border: 5px solid #01aed1;
    border-radius: 8px;
    margin: 1em 7em;
    padding: 1em;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
  }
  #inv-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    gap: 1rem;
    justify-content: center;
    width: 100%;
    max-width: calc(200px * 3 + 1rem * 2);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
  }

  #inv-display li {
    width: 175px;
  }
  .vehicle-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}