<h1><%= title %></h1>

<!-- Flash Messages -->
<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="form-container">
<p>FIELD IS REQUIRED.</p>
<form action="/inv/add-classification" method="POST">
  <fieldset>
    <label for="classification_name">Classification Name:</label>
    <p>NAME MUST BE ALPHABETIC CHARACTERS ONLY.</p>
    <input
    type="text"
    id="classification_name"
    name="classification_name"
    required
    pattern="^[A-Za-z0-9]+$"
    title="No spaces or special characters allowed."
    value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>"
    />
    <button type="submit">Add Classification</button>
  </fieldset>
</form>
</div>